* {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
#breaker {
  width: 100%;
  height: 1px;
  background-color: rgba(217, 1, 217, 0.744);
}
body {
  color: white;
  background-image: url("../imgs/admin.jpg");
  background-size: cover;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(84, 84, 84);
  border-radius: 5px;
}
.container {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* START NAVBAR */
nav {
  position: fixed;
  width: 100%;
  padding: 0 20px 0 20px;
  color: white;
  background-color: rgb(150 79 159);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.733);
  z-index: 100;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links li {
  list-style: none;
}
.links li a {
  padding: 15px;
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.links #acc-click {
  padding: 15px;
  transition: 0.3s;
}
.links li a:hover,
.links #acc-click:hover {
  background-color: #b9e0ff;
  color: blueviolet;
}
.clicked {
  background-color: #b9e0ff;
  color: blueviolet;
}
#acc-click {
  cursor: pointer;
}
.accs {
  position: relative;
}
#acc-lists {
  box-shadow: -2px -2px 5px rgb(0 0 0 / 30%);
  display: none;
  position: absolute;
  top: 45px;
  right: -3.5px;
  background-color: rgb(239, 239, 239);
}
#acc-lists li {
  min-width: fit-content;
}
#acc-lists li a {
  color: rgb(110, 110, 110);
  text-align: center;
  display: block;
  padding: 15px 20px 15px 20px;
  transition: 0.3s;
}
#acc-lists li a:hover {
  color: white;
  background-color: rgb(41, 41, 41);
}
/* END NAV */
/* START PURCHASE_HISTORY LIST */
h1 {
  padding-top: 100px;
  text-align: center;
}
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.history .purchase {
  width: 800px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #241f3ae0;
  border-radius: 20px;
  transition: 0.3s;
}
.history .purchase:hover {
  background-color: #241f3a;
}
.history .purchase img {
  width: 100px;
}
.history .purchase p {
  font-size: 30px;
}

/* END PURCHASE_HISTORY LIST */
