* {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
body {
  height: 100vh;
  position: relative;
  color: white;
  background-image: url("../imgs/admin.jpg");
  background-size: cover;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(84, 84, 84);
  border-radius: 5px;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
a {
  color: #b9e0ff;
  border-bottom: 1px solid #b9e0ff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: white;
  border-bottom: 1px solid white;
}
